<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twitter Video Downloader</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <div class="container">
        <form action="/download-twitter" method="post" class="form">
            <div>
                <label for="url">Twitter Video Downloader</label>
                <input required type="url" name="url" id="url" />
            </div>
            <button>Submit</button>
        </form>

        <% if (locals.error){ %>
            <%= error %>
        <% }%>

        <div class="videos_container">
            <h2 class="title">
                Downloaded <%= locals.image ? "Image" : "Videos" %>
            </h2>
            <% if (locals.image){ %>
                <img src="<%= image %>" alt="Downloaded Image" style="width: 100%">
            <% } %>

            <% if (locals.videos){ %>
                <ul>
                    <% for (const video of videos) { %>
                        <li><a href="<%= video.url %>" target="_blank"><%= video.dimension %></a></li>
                    <% } %>
                </ul>
            <% } %>
        </div>
    </div>
</body>
</html>